<component name="ArtifactManager">
  <artifact type="exploded-war" name="springcloudsleuth:war exploded">
    <output-path>$PROJECT_DIR$/springcloudsleuth/target/spring-cloud-sleuth</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springcloudsleuth" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springcloudsleuth/target/spring-cloud-sleuth/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springcloudsleuth/web/Web" />
    </root>
  </artifact>
</component>